#logo {
    width: 70px;
    height: auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #050048;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 241, 178);
}

body {
    margin: 0;
    padding: 0;
    background-color: #d6dbff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noticias {
    padding: 6px;
    justify-content: space-around;
    text-align: center;
    display: flex;
    
}

.noticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #050048;
    background-color: #d6dbff;
    border: 1px solid #000000;
    border-radius: 1px;
}

.img-noticia {
    padding: 10px;
    max-width: 600px;
    height: 300px;
    border: 2px;
    border-radius: 2px;
}

p, h3 {
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 10;
}

.escalacao{
    text-align: center;
    background-color: rgb(94, 138, 209);
    margin: 40px;
}

#h-escalacao{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#jogadores{
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
}
.jogador{
    text-align: center;
    
}

#icon_jogador{
    width: 52px;
}

footer {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 5px;
        background-color: #00630d6b;
        color: rgb(255, 241, 178);
        margin-top: 20px;
    }