#logo {
    width: 70px;
    height: auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color:#001c53;
    font-family: 'Montserrat', sans-serif;
    color: #ffdf00;
    font-size: 25px;

}

#navbar h2 {
    color: #ffdf00;
}

#navbar h2 span {
    color: #009c3b;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ebeeff;
    font-family: 'Poppins', sans-serif;
}

#noticias {
    padding: 5px;
    justify-content: space-around;
    text-align: center;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.noticia {
    font-family: 'Poppins', sans-serif;
    color: #050048;
    background-color: #ebeeff;
    border: 1px solid #000000;
    width: 640px;
    height: 430px;
    font-size: 23px;
}

.img-noticia {
    padding: 10px;
    width: 600px;
    height: 300px;
    border-radius: 2px;
    object-fit: cover;
}

p {
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 17px;
}
 

h3 {
    border-bottom: 1px solid #00b818;
    padding-bottom: 5px;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 10;
    font-size: 21px;
}

.escalacao{
    text-align: center;
    background-color: #ffdd008c;
    padding-top: 3px;
    padding-bottom: 3px;
;
    
}

#h-escalacao{
    text-align: center;
    justify-content: space-around;
    color: #004e0a;
}

#jogadores{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2px;
    flex-wrap: wrap;
}

.jogador{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column; 
    gap: 2px;  
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}


#icon_jogador{
    width: 150px;
    height: auto;
}

footer {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        padding: 5px;
        background-color: #00630d6b;
        color: rgb(0, 0, 0);
        margin-top: 20px;
    }

h5 {
    font-family: 'Poppins', sans-serif;
    color: #1a1500;
}