#logo {
    width: 70px;
    height: auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #050048;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 241, 178);
}

body {
    margin: 0;
    padding: 0;
    background-color: #d6dbff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}